@font-face {
    font-display: swap;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    src: url(Raleway/Raleway-Light.woff2) format("woff2"),
    url(Raleway/Raleway-Light.woff) format("woff"),
    url(Raleway/Raleway-Light.ttf) format("ttf");
}

@font-face {
    font-display: swap;
    font-family: Raleway;
    font-style: italic;
    font-weight: 300;
    src: url(Raleway/Raleway-LightItalic.woff2) format("woff2"),
    url(Raleway/Raleway-LightItalic.woff) format("woff"),
    url(Raleway/Raleway-LightItalic.ttf) format("ttf");
}

@font-face {
    font-display: swap;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    src: url(Raleway/Raleway-Regular.woff2) format("woff2"),
    url(Raleway/Raleway-Regular.woff) format("woff"),
    url(Raleway/Raleway-Regular.ttf) format("ttf");
}

@font-face {
    font-display: swap;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    src: url(Raleway/Raleway-Medium.woff2) format("woff2"),
    url(Raleway/Raleway-Medium.woff) format("woff"),
    url(Raleway/Raleway-Medium.ttf) format("ttf");
}

@font-face {
    font-display: swap;
    font-family: Raleway;
    font-style: italic;
    font-weight: 500;
    src: url(Raleway/Raleway-MediumItalic.woff2) format("woff2"),
    url(Raleway/Raleway-MediumItalic.woff) format("woff"),
    url(Raleway/Raleway-MediumItalic.ttf) format("ttf");
}

@font-face {
    font-display: swap;
    font-family: Raleway;
    font-style: italic;
    font-weight: 600;
    src: url(Raleway/Raleway-BlackItalic.woff2) format("woff2"),
    url(Raleway/Raleway-BlackItalic.woff) format("woff"),
    url(Raleway/Raleway-BlackItalic.ttf) format("ttf");
}

@font-face {
    font-display: swap;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    src: url(Raleway/Raleway-SemiBold.woff2) format("woff2"),
    url(Raleway/Raleway-SemiBold.woff) format("woff"),
    url(Raleway/Raleway-SemiBold.ttf) format("ttf");
}

@font-face {
    font-display: swap;
    font-family: Raleway;
    font-style: italic;
    font-weight: 600;
    src: url(Raleway/Raleway-SemiBoldItalic.woff2) format("woff2"),
    url(Raleway/Raleway-SemiBoldItalic.woff) format("woff"),
    url(Raleway/Raleway-SemiBoldItalic.ttf) format("ttf");
}

@font-face {
    font-display: swap;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    src: url(Raleway/Raleway-Bold.woff2) format("woff2"),
    url(Raleway/Raleway-Bold.woff) format("woff"),
    url(Raleway/Raleway-Bold.ttf) format("ttf");
}

@font-face {
    font-display: swap;
    font-family: Raleway;
    font-style: italic;
    font-weight: 700;
    src: url(Raleway/Raleway-BoldItalic.woff2) format("woff2"),
    url(Raleway/Raleway-BoldItalic.woff) format("woff"),
    url(Raleway/Raleway-BoldItalic.ttf) format("ttf");
}
